<div class="card mt-2 mb-4">
  <div class="card-body">
    <div class="form-group">
      <label for="inputTitle">Judul</label>
      <input
        type="text"
        class="form-control input-disabled cursor-default"
        name="title"
        value="<%= freelancer.title %>"
        readonly
      />
    </div>
    <div class="form-group">
      <label for="inputDescription">Deskripsi</label>
      <input
        type="text"
        class="form-control input-disabled cursor-default"
        name="description"
        value="<%= freelancer.description %>"
        readonly
      />
    </div>
    <div class="form-group">
      <label for="inputCategory">Kategori</label>
      <input
        type="text"
        class="form-control input-disabled cursor-default"
        name="categoryId"
        value="<%= freelancer.categoryId.name %>"
        readonly
      />
    </div>
    <div class="form-group">
      <label for="inputRating">Rating</label>
      <input
        type="text"
        class="form-control input-disabled cursor-default input-disabled"
        name="rating"
        value="<%= freelancer.rating %>"
        readonly
      />
    </div>
    <div class="form-group">
      <label for="image">Gambar</label>
      <br />
      <img src="" alt="" width="200" height="200" class="img-fluid mb-2" />
    </div>
    <hr />
  </div>
</div>
