# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
.env
/public/images/order
/public/images/service
/public/images/user
/public/images/freelancer
/public/images/service_user
/public/etc/order/work

