<!-- Modal -->
<div
  class="modal fade"
  id="addModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Add Bank</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/admin/bank" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="inputBankName">Bank Name</label>
            <input
              type="text"
              class="form-control"
              name="bankName"
              placeholder="Enter bank Name"
              required
            />
          </div>
          <div class="form-group">
            <label for="inputbankAccount">Bank Account</label>
            <input
              type="number"
              class="form-control"
              name="bankAccount"
              placeholder="Enter bank Account"
              required
            />
          </div>
          <div class="form-group">
            <label for="inputAccountHolder">Account Holder</label>
            <input
              type="text"
              class="form-control"
              name="accountHolder"
              placeholder="Enter Account Holder"
              required
            />
          </div>
          <div class="form-group">
            <label for="inputImgUrl">Bank Logo</label>
            <input
              type="file"
              class="form-control-file"
              name="image"
              required
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
