<!-- Modal -->
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Edit Bank</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/admin/bank?_method=PUT" method="POST">
          <div class="form-group">
            <label for="inputBankName">Bank Name</label>
            <input
              type="text"
              class="form-control bankName"
              name="bankName"
              aria-describedby="bankNameHelp"
              placeholder="Enter name"
            />
          </div>
          <div class="form-group">
            <label for="inputBankAccount">Bank Account</label>
            <input
              type="text"
              class="form-control bankAccount"
              name="bankAccount"
              aria-describedby="bankAccountHelp"
              placeholder="Enter name"
            />
          </div>
          <div class="form-group">
            <label for="inputAccountHolder">Account Holder</label>
            <input
              type="text"
              class="form-control accountHolder"
              name="accountHolder"
              aria-describedby="accountHolderHelp"
              placeholder="Enter name"
            />
          </div>
          <div class="modal-footer">
            <input type="hidden" name="id" class="id" />
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Edit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
