<!-- Modal -->
<div
  class="modal fade"
  id="addModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Tambah Jasa</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/freelancer/service/add" method="POST">
        <div class="modal-body">
          <div class="form-group">
            <label for="inputServiceTitle">Nama</label>
            <input
              type="text"
              class="form-control"
              name="title"
              placeholder="Masukkan Nama Jasa"
              required
            />
          </div>
          <div class="form-group">
            <label for="inputServiceDescription">Deskripsi</label>
            <input
              type="text"
              class="form-control"
              name="description"
              placeholder="Masukkan Deskripsi Jasa"
              required
            />
          </div>
          <div class="form-group">
            <label for="inputAccountHolder">Harga</label>
            <input
              type="number"
              class="form-control"
              name="price"
              placeholder="Masukkan Harga Jasa"
              required
            />
          </div>
          <div class="form-group">
            <label for="inputImgUrl">Gambar</label>
            <input
              type="file"
              class="form-control-file"
              name="image"
              required
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Tambah</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
