<div
  class="tab-pane fade"
  id="delete-service-user"
  role="tabpanel"
  aria-labelledby="delete-tab"
>
  <!-- DataTales Example -->
  <div class="card mt-2 mb-4">
    <div class="card-body">
      <div class="row mb-4">
        <div class="col">
          <!-- Ban Form -->
          <form
            action="/admin/serviceuser/<%= serviceUser._id %>?_method=PUT"
            method="POST"
          >
            <% if( serviceUser.userId.isBanned == false) { %>
            <button type="submit" class="btn btn-warning btn-sm">
              <i class="fas fa-lock"></i>
              <span class="ml-2">This action will ban this user</span>
            </button>
            <% } else{ %>
            <button type="submit" class="btn btn-success btn-sm">
              <i class="fas fa-unlock-alt"></i>
              <span class="ml-2">This action will activate this user</span>
            </button>
            <% } %>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- Delete Form -->
          <form
            action="/admin/freelancer/<%= serviceUser._id %>/delete?_method=DELETE"
            method="POST"
          >
            <button type="submit" class="btn btn-danger btn-sm">
              <i class="fas fa-trash"></i>
              <span class="ml-2">This action will delete this user</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
