<style>
  .input-disabled {
    background-color: #ffffff !important;
  }
</style>
<div
  class="tab-pane fade show active"
  id="edit-service-user"
  role="tabpanel"
  aria-labelledby="home-tab"
>
  <!-- DataTales Example -->
  <div class="card mt-2 mb-4">
    <div class="card-body">
      <!-- Detail Form -->
      <div class="form-group">
        <label for="inputName">Nama</label>
        <input
          type="text"
          class="form-control input-disabled"
          name="name"
          value="<%= serviceUser.userId.name %>"
          readonly
        />
      </div>
      <div class="form-group">
        <label for="inputEmail">Email</label>
        <input
          type="text"
          class="form-control input-disabled"
          name="email"
          value="<%= serviceUser.userId.email %>"
          readonly
        />
      </div>
      <div class="form-group">
        <label for="inputAddress">Address</label>
        <input
          type="text"
          class="form-control input-disabled"
          name="address"
          value="<%= serviceUser.userId.address %>"
          readonly
        />
      </div>
      <div class="form-group">
        <label for="inputPhone">Phone Number</label>
        <input
          type="text"
          class="form-control input-disabled"
          name="phone"
          value="<%= serviceUser.userId.phone %>"
          readonly
        />
      </div>
    </div>
  </div>
</div>
