<div class="card mt-2 mb-4">
  <div class="card-body">
      <div class="form-group">
        <label for="inputBankName">Nama Bank</label>
        <input
          type="text"
          class="form-control input-disabled cursor-default"
          name="bankName"
          value="<%= freelancer.bankName %>"
          placeholder="Enter Bank Name"
          readonly
          />
      </div>
      <div class="form-group">
        <label for="inputbankAccount">Rekening Bank</label>
        <input
          type="text"
          class="form-control input-disabled cursor-default"
          name="bankAccount"
          value="<%= freelancer.bankAccount %>"
          placeholder="Enter bank Account"
          readonly
          />
      </div>
      <div class="form-group">
        <label for="inputAccountHolder">Pemilik Rekening</label>
        <input
          type="text"
          class="form-control input-disabled cursor-default"
          name="accountHolder"
          value="<%= freelancer.accountHolder %>"
          placeholder="Enter Bank Name"
          readonly
          />
      </div>
      <hr />
  </div>
</div>
