<!-- Sidebar -->
<ul
  class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="/admin/dashboard"
  >
    <div class="sidebar-brand-icon rotate-n-15">
      <img src="" alt="" />
    </div>
    <div class="sidebar-brand-text mx-3">kerjain</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="/freelancer/dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Beranda</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Menu</div>
  <li class="nav-item">
    <a class="nav-link" href="/freelancer/profile">
      <i class="fas fa-fw fa-user"></i>
      <span>Profil</span></a
    >
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/freelancer/service">
      <i class="fas fa-fw fa-handshake"></i>
      <span>Jasa</span></a
    >
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/freelancer/request">
      <i class="fas fa-fw fa-handshake"></i>
      <span>Permintaan</span></a
    >
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/freelancer/chat">
      <i class="far fa-fw fa-comments"></i>
      <span>Chat</span>
      <% if(unread.length != 0){ %>
      <span class="badge badge-danger badge-counter"
        ><%= unread.length %>
      </span>
      <% } %>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/freelancer/order">
      <i class="fas fa-fw fa-shopping-cart"></i>
      <span>Order</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Heading -->
  <div class="sidebar-heading">Pengaturan</div>

  <li class="nav-item">
    <a
      class="nav-link collapsed cursor-pointer noselect"
      data-toggle="collapse"
      data-target="#collapseTwo"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="fas fa-fw fa-cog"></i>
      <span>Pengaturan</span>
    </a>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <a
          class="collapse-item text-secondary"
          href="/freelancer/setting/edit-profile"
          >Edit Profil</a
        >
      </div>
    </div>
  </li>

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
<!-- End of Sidebar -->
