<style>
  .sidebar-brand-icon img {
    width: 70%;
  }

  .sidebar-brand-icon-mini {
    width: 80px !important;
  }
</style>
<!-- Sidebar -->
<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="/admin/dashboard"
  >
    <div class="sidebar-brand-icon">
      <img src="<%= `${process.env.URL}images/logo.svg` %>" alt="" />
    </div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="/admin/dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Menu</div>

  <!-- Nav Item - Tables -->
  <!-- <li class="nav-item">
    <a class="nav-link" href="/admin/category">
      <i class="fas fa-fw fa-list-alt"></i>
      <span>Category</span></a
    >
  </li> -->

  <li class="nav-item">
    <a class="nav-link" href="/admin/bank">
      <i class="fas fa-fw fa-money-check"></i>
      <span>Bank</span></a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/freelancer">
      <i class="fas fa-fw fa-laptop"></i>
      <span>Freelancer</span></a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/serviceuser">
      <i class="fas fa-fw fa-users"></i>
      <span>Service User</span></a
    >
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Heading -->
  <div class="sidebar-heading">Order</div>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" href="/admin/order">
      <i class="fas fa-fw fa-shopping-cart"></i>
      <span>Order</span></a
    >
  </li>

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
<!-- End of Sidebar -->